.form-container {
  margin: 2rem auto;
  width: 80%;
  text-align: left;
  padding: 5rem 3rem;
  border: 1px solid var(--outline);
  background-color: #f1faee;
  border-radius: 0.5rem;
}

.btn {
  background-color: #457b9d;
  margin: 2rem auto;
}
