.list-details {
  margin: 2rem auto;
  width: 90%;
  text-align: left;
  padding: 3rem 3rem;
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
}

h2 {
  margin-bottom: 0;
}

.edit-list-icon {
  margin-left: 1rem;
  font-size: 2rem;
  color: #f1faee;
}

.btn-div {
  margin: 0 0 1rem;
  padding: 0 0 0 5%;
}

.item-div {
  margin-bottom: 0.5rem;
  background-color: #f1faee;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.item-name {
  width: 35%;
}

.item-price {
  width: 5%;
  margin-left: 5%;
}

.claim-icon-div {
  width: 20%;
  margin-left: 5%;
  text-align: right;
}

.edit-icon-div {
  width: 5%;
  margin-left: 5%;
  text-align: right;
}

.edit-icon {
  font-size: 1.5rem;
}

.delete-icon-div {
  width: 5%;
  margin-left: 5%;
  text-align: right;
}

.delete-icon {
  font-size: 1.5rem;
}

.item-name-viewer {
  width: 40%;
}

.item-price-viewer {
  width: 40%;
  margin-left: 5%;
}

.claim-icon-viewer {
  width: 10%;
}
