.list-details {
  margin: 2rem auto;
  width: 90%;
  text-align: left;
  padding: 3rem 3rem;
  border: 1px solid var(--outline);
  background-color: #a8dadc;
  border-radius: 0.5rem;
}

.title-div {
  display: flex;
}

.list-header {
  margin-bottom: 0.5rem;
  background-color: #f1faee;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.list-edit-icon {
  margin-left: 1rem;
}

.add-btn {
  margin-bottom: 1rem;
}

.item-div {
  margin-bottom: 0.5rem;
  background-color: #f1faee;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

/* .bi-pencil-fill {
  margin-left: 1rem;
}

.bi-trash3-fill {
  margin-left: 1rem;
} */

.item-name {
  width: 44%;
}

.item-price {
  width: 12%;
  margin-left: 5%;
}

.claim-icon {
  width: 14%;
  margin-left: 15%;
  text-align: right;
}

.edit-icon {
  width: 4%;
  margin-left: 5%;
  text-align: right;
}

.delete-icon {
  width: 4%;
  margin-left: 5%;
  text-align: right;
}

.item-name-viewer {
  width: 40%;
}

.item-price-viewer {
  width: 40%;
  margin-left: 5%;
}

.claim-icon-viewer {
  width: 10%;
}
