.form-container {
  margin: 2rem auto;
  width: 90%;
  text-align: left;
  padding: 5rem 3rem;
  border: 1px solid var(--outline);
  background-color: #a8dadc;
  border-radius: 0.5rem;
}

.btn {
  background-color: #457b9d;
  margin: 2rem auto;
}

.search-results {
  margin: 2rem auto;
  width: 90%;
  text-align: left;
  padding: 3rem 3rem;
  border: 1px solid var(--outline);
  background-color: #a8dadc;
  border-radius: 0.5rem;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: #f1faee;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

h3 {
  margin-bottom: 2rem;
  text-align: center;
}

.list-name {
  width: 40%;
  margin-right: 5%;
}

.list-type {
  width: 40%;
  margin-right: 5%;
}
